main{
  background-color: yellow;
}



  .carousel-inner {
    width: 1500px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    position: relative;
    left: 500px;
    
  }



  /* Stili delle immagini */
  .item img {
    width: 80%;
    height: 800px;
  
  }

  .item{
    display: none;
    width: 100%;
    height: 50%;
    color: white;
    position: relative;
    left: 150px;
    right: 150px;
    bottom: 150px;
    
  }

  .item.active{
    display: block;
  }

 .contenitore-button{
  display: flex;
  justify-content: space-between;
 }