div{
    border: 1px solid red;
}

/* #carousel-container {
    width: 1000px;
    margin: auto;
    overflow: hidden;
  } */

  .carousel-inner {
    width: 1000px;
    height: 1000px;
  }

  .carousel-item {
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
  }

  /* Stili delle immagini */
  .items img {
    width: 100%;
   
  }

  .items{
    display: none;
    width: 1000px;
    height: 1000px;
  }

  .items.active{
    display: block;
  }